/*
*
*preview 
*
*********************************/

.wrapperpreview	 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around; }

.card {
  width: 240px;
  height: 200px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); }
  .card:hover {
    transform: translateY(20px); 
	}
    .card:hover:before {
      opacity: 1; }
    .card:hover .info {
      opacity: 1;
      transform: translateX(10px); }
	.card:hover .explore {
      opacity: 1;
      transform: translateY(105px);
	  color:white;	  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0; }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px; }
  .card .info {
    position: relative;
    z-index: 3;
    color: red;
    opacity: 0;
    transform: translateY(80px);
    transition: 0.5s; }
	
	.card .explore {
    position: relative;
    z-index: 3;
    color: red;
    opacity: 0;
    transition: 0.5s; }
    .card .info h1 {
      margin: 0px; }


/*
*
* Boiler Plate stuff 
*
*********************************/
:root {
  --movie-width: 250px;
  --movie-height: 250px;
}
@media only screen and (max-width: 1000px) {
  :root {
    --movie-width: 300px;
	--movie-height: 250px;
  }

}

@media only screen and (min-width: 412px) and (max-width: 767px) {
	 :root {
    --movie-height: 175px;
	--movie-width: 200px;
  }
	}
.containers {
  position: relative;
}

.logo {
  font-size: 4rem;
  text-align: center;
}


/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie {
  width: var(--movie-width);
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: white;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}

.slider{
	 text-align: center;
}

.movie img {
  object-fit: fill;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 900px) {
  .movie:hover {
    transform: scale(1.2);
    z-index: 2;
  }
}

	
@media only screen and (min-width: 901px) {
  .containers:hover .btn-nav,
  .containers:hover .containers-indicators {
    visibility: visible;
  }
}


/***********************************
*
*			FAQ
*
*
*************************************/


.h2f {
  margin: 20px auto 80px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #7b7b96;
  font-weight: 500;
  align-items: left;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 10px;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px rebeccapurple;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
.timeline-h1{
  font-size:60px;
  text-align:center;
  font-color:white;
}
.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:rgba(233,33,99,1);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:rgba(233,33,99,1);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li .timeline-h3{
  padding:0;
  margin:0;
  color:rgba(233,33,99,1);
  font-weight:600;
}
.timeline ul li p{
  margin:20px 0 0;
  padding:0;
}
.timeline ul li .timeline-h4{
  margin:0;
  padding:0;
  font-size:14px;
}

.timeline ul li:nth-child(odd) .time{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:rgba(233,33,99,1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:rgba(233,33,99,1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
@media(max-width:1000px){
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  .timeline-h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
  .timeline p {
	color: #e6e6e6;
}
  .block{
	text-align: center;
 }
}


/* FAQ Text Color */
.text_details{
  font-size: 1.4rem;

}

.text_summary{
  font-size: 1.1rem;
}
